
/* /////////// TABLETA ///////////////*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .all-content{
        padding: 0 50px 0 50px;
    }
    /* PORTFOLIO SECTION */

    .portfolio-card{
        width: 40%;
    }


    article.resume-card {
        width: auto;
    }

    /* MY-BLOG SECTION  */

    #my-blog{
        height: 200vh;
    }
    .blog-cards{
        justify-content: center;
    }

    .blog-card{
        width: 60%;
        height: 25%;
    }

}
/* MOBILE */

@media only screen and (min-width: 320px) and (max-width: 767px) {
    body{
        height: auto;
        max-width: 767px;
        width: 100vw;
        overflow: auto;
        margin: 0;
        width: 100vw;
        flex-wrap: wrap;
    }
    .all-content{
        padding: 10px;
        width: 100vw;
        height: auto;
    }
    .navbar{
        padding: 5px 10px 5px 10px;
        display: none;
    }

    /* main */
    main{
        flex-direction: column-reverse;
        width: 100%;
        padding: 40px 0 40px 0;
    }
    .main-data{
        width: 100%;
        height: 50vh;
    }
    .introduction-icons{
        margin-top: 0;
    }
    .main-image-container{
        width: 40%;
        margin: 20px auto 40px auto;
    }

    /* features */
    #features{
        padding: 40px 0 40px 0;
        height: auto;
    }
    .container-features-card{
        justify-content: center;
        height: auto;
    }
    .features-card{
        width: 60%;
    }

    /* resume */
    #resume{
        height: 270vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .submenu-resume-section{
        flex-direction: column;
        width: 80vw;
    }
    .submenu-resume-item:hover{
    width: 100%;
    }

    .container-resume-articles{
        flex-direction: column;
        align-items: center;
    }

    .column{
        width: 100%;
    }
    .resume-card{
        width: 300px;
        height: auto;
    }
    .stick{
        height: 260px;
    }
    .container-lstick{
        height: 255px;
    }
    .little-stick{
        position: relative;
        top:49px;
    }
    .first-stick{
        height: 50px;
    }

    /* blog */
    #my-blog{
        height: auto;
    }
    .blog-cards{
        flex-direction: column;
        flex-wrap:nowrap;
        align-items: center;
        gap:30px;
    }
    .blog-card{
        width: 60%;
    }

    /* contact */
    #contact{
        height: auto;
    }
    .container-contact{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .contact-card{
        width: 80%;
    }
    .my-form{
        width: 90%;
    }

    /* footer */

    footer{
        height: 20vh;
        padding: 30px 0 30px 0;
    }
}